<!DOCTYPE html>
<html lang="en">
	<div th:fragment="banner" class="well">
		<p>
			This server provides a complete implementation of the FHIR Server for testing purpose for Centre of e-Health University of Agder
			(UiA)
		</p>

		<p>
			<span style="color: #ff0000;"><strong>"This is not a production server." </strong><span style="color: #000000;">This is only testing server,
				so do not store the sensitive data yet.</span></span></p>

		</p>
		<p>
			This server is built
			from a number of modules of the
			<a href="https://github.com/jamesagnew/hapi-fhir/">HAPI FHIR</a>
			project, which is a 100% open-source (Apache 2.0 Licensed) Java based
			implementation of the FHIR specification.
		</p>
	</div>
</html>
